@model Pae.web.Data.Entities.Estudents

@{
    ViewData["Title"] = "Details";
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />

<hr />

<div class="col-md-6">
    <h2>Details: Estudents</h2>
</div>
<div class="col-md-6">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Jornada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Jornada)
        </dd>
        </dl>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6">
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.AutDelivery)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.AutDelivery)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Mesas)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Mesas)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.NOrden)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.NOrden)
                            </dd>
                        </dl>
                    </div>
                    <div class="col-md-6">
                        <dl class="dl-horizontal">
                            <dt>
                                <Strong>
                                    @Html.DisplayNameFor(model => model.Document)
                                </Strong>

                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Document)

                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.FullName)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.FullName)
                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Sedes.NameSedes)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Sedes.NameSedes)
                            </dd>
                        </dl>
                    </div>
                </div>

            </div>
            <div class="panel-body">
                @if (Model.DeliveryActas.Count == 0)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a asp-action="AddDeliveryActa" class="btn btn-primary" asp-route-id="@Model.Id">Add Acta</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">

                                    <h4>Actas de Entrega</h4>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-responsive table-striped display">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.DeliveryActas.FirstOrDefault().Id)
                                                    </th>

                                                    <th>
                                                        @Html.DisplayNameFor(model => model.DeliveryActas.FirstOrDefault().Entrega3)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.DeliveryActas.FirstOrDefault().Entrega4)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.DeliveryActas.FirstOrDefault().Entrega5)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.DeliveryActas.FirstOrDefault().Entrega6)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.DeliveryActas.FirstOrDefault().Entrega7)
                                                    </th>
                                                    <th>
                                                        (#1) Entregado
                                                    </th>

                                                    <th>
                                                        Acciones
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.DeliveryActas)
                                                {
                                                <tr>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Id)
                                                    </td>

                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Entrega3)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Entrega4)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Entrega5)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Entrega6)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.Entrega7)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.DetailsDeliveries.Count)
                                                    </td>


                                                    <td>
                                                        <a asp-action="EditDelivery" class="btn btn-warning" asp-route-id="@item.Id"><i class="glyphicon glyphicon-pencil"></i></a>
                                                        <a asp-action="DetailsActa" class="btn btn-info" asp-route-id="@item.Id"><i class="glyphicon glyphicon-list"></i></a>
                                                        <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>

                                                    </td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                }

            </div>
            <div class="panel-footer">
                <div class="form-group">
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.Id"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a asp-action="AddDeliveryActa" class="btn btn-primary" asp-route-id="@Model.Id">Add Acta Delivery</a>
                    <a asp-action="Index" class="btn btn-success">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_DeleteDialogModal" />
<partial name="_Exepction" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            // Delete item
            var item_to_delete;
            var action_to_delete;
            $('.display').DataTable();
            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
                action_to_delete = 1;
            });


            $("#btnYesDelete").click(function () {
                window.location.href = '/Estudents/DeleteActa/' + item_to_delete;
            });
        });
    </script>
}










