@model Pae.web.Data.Entities.DeliveryActa

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" />



<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Details</h2>
                        <h4>Delivery Acta</h4>
                    </div>
                    <div class="col-md-6">
                        <dl class="dl-horizontal">
                            <dt>
                                <Strong>
                                    @Html.DisplayNameFor(model => model.Estudents.FullName)
                                </Strong>

                            </dt>
                            <dd>
                                <h2>
                                    @Html.DisplayFor(model => model.Estudents.FullName)
                                </h2>

                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Periodos.MonthDelivery)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Periodos.MonthDelivery)
                            </dd>
                        </dl>
                    </div>
                </div>

            </div>
            <div class="panel-body">
                @if (Model.DetailsDeliveries.Count == 0)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                   HEY DATA AQUI
                                   

                                </div>
                            </div>





                        </div>
                    </div>

                }
                else
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    hola
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-responsive table-striped display">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.DetailsDeliveries.FirstOrDefault().DocAcudiente)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.DetailsDeliveries.FirstOrDefault().FullNameAcudiente)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.DetailsDeliveries.FirstOrDefault().SiteDelivery)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.DetailsDeliveries.FirstOrDefault().TelMovil)
                                                    </th>
                                                    <th>
                                                        Img1
                                                    </th>
                                                    <th>
                                                        Acciones
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.DetailsDeliveries)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.DocAcudiente)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.FullNameAcudiente)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.SiteDelivery)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.TelMovil)
                                                        </td>

                                                        <td>
                                                            @if (!string.IsNullOrEmpty(item.ImageAcudienteUrl))
                                                            {
                                                                <div class="thumbnail">
                                                                    <img src="@Url.Content(item.ImageAcudienteUrl)" alt="Image" style="width:150px;height:150px;" />
                                                                </div>
                                                            }
                                                        </td>
                                                        <td>
                                                            <a asp-action="EditEndowment" class="btn btn-warning" asp-route-id="@item.Id"><i class="glyphicon glyphicon-pencil"></i></a>
                                                            <a asp-action="AddDetailsActa" class="btn btn-info" asp-route-id="@item.Id"><i class="glyphicon glyphicon-list"></i></a>

                                                            <button data-id="@item.Id" class="btn btn-danger deleteEndowment" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                }

            </div>
            <div class="panel-footer">
                <div class="form-group">
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.Id"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a asp-action="DetailsDataActa" class="btn btn-primary" asp-route-id="@Model.Id"><i class="glyphicon glyphicon-plus"></i> Add Data</a>
                    <a asp-action="Details" asp-route-id="@Model.Estudents.Id" class="btn btn-success">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            var current_fs, next_fs, previous_fs; //fieldsets
            var opacity;
            var current = 1;
            var steps = $("fieldset").length;

            setProgressBar(current);

            $(".next").click(function () {

                current_fs = $(this).parent();
                next_fs = $(this).parent().next();

                //Add Class Active
                $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

                //show the next fieldset
                next_fs.show();
                //hide the current fieldset with style
                current_fs.animate({ opacity: 0 }, {
                    step: function (now) {
                        // for making fielset appear animation
                        opacity = 1 - now;

                        current_fs.css({
                            'display': 'none',
                            'position': 'relative'
                        });
                        next_fs.css({ 'opacity': opacity });
                    },
                    duration: 500
                });
                setProgressBar(++current);
            });

            $(".previous").click(function () {

                current_fs = $(this).parent();
                previous_fs = $(this).parent().prev();

                //Remove class active
                $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

                //show the previous fieldset
                previous_fs.show();

                //hide the current fieldset with style
                current_fs.animate({ opacity: 0 }, {
                    step: function (now) {
                        // for making fielset appear animation
                        opacity = 1 - now;

                        current_fs.css({
                            'display': 'none',
                            'position': 'relative'
                        });
                        previous_fs.css({ 'opacity': opacity });
                    },
                    duration: 500
                });
                setProgressBar(--current);
            });

            function setProgressBar(curStep) {
                var percent = parseFloat(100 / steps) * curStep;
                percent = percent.toFixed();
                $(".progress-bar")
                    .css("width", percent + "%")
            }

            $(".submit").click(function () {
                return false;
            })

        });
    </script>

    }