@model Pae.web.Data.Entities.DeliveryActa

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
<link rel="stylesheet" href="cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css" />

<style>
    * {
        margin: 0;
        padding: 0
    }

    html {
        height: 100%
    }

    p {
        color: grey
    }

    #heading {
        text-transform: uppercase;
        color: #673AB7;
        font-weight: normal
    }

    #msform {
        text-align: center;
        position: relative;
        margin-top: 20px
    }

        #msform fieldset {
            background: white;
            border: 0 none;
            border-radius: 0.5rem;
            box-sizing: border-box;
            width: 100%;
            margin: 0;
            padding-bottom: 20px;
            position: relative
        }

    .form-card {
        text-align: left
    }

    #msform fieldset:not(:first-of-type) {
        display: none
    }

    #msform input,
    #msform textarea {
        padding: 8px 15px 8px 15px;
        border: 1px solid #ccc;
        border-radius: 0px;
        margin-bottom: 25px;
        margin-top: 2px;
        width: 100%;
        box-sizing: border-box;
        font-family: montserrat;
        color: #2C3E50;
        background-color: #ECEFF1;
        font-size: 16px;
        letter-spacing: 1px
    }

        #msform input:focus,
        #msform textarea:focus {
            -moz-box-shadow: none !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
            border: 1px solid #673AB7;
            outline-width: 0
        }

    #msform .action-button {
        width: 100px;
        background: #673AB7;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 0px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 0px 10px 5px;
        float: right
    }

        #msform .action-button:hover,
        #msform .action-button:focus {
            background-color: #311B92
        }

    #msform .action-button-previous {
        width: 100px;
        background: #616161;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 0px;
        cursor: pointer;
        padding: 10px 5px;
        margin: 10px 5px 10px 0px;
        float: right
    }

        #msform .action-button-previous:hover,
        #msform .action-button-previous:focus {
            background-color: #000000
        }

    .card {
        z-index: 0;
        border: none;
        position: relative
    }

    .fs-title {
        font-size: 25px;
        color: #673AB7;
        margin-bottom: 15px;
        font-weight: normal;
        text-align: left
    }

    .purple-text {
        color: #673AB7;
        font-weight: normal
    }

    .steps {
        font-size: 25px;
        color: gray;
        margin-bottom: 10px;
        font-weight: normal;
        text-align: right
    }

    .fieldlabels {
        color: gray;
        text-align: left
    }

    #progressbar {
        margin-bottom: 30px;
        overflow: hidden;
        color: lightgrey
    }

        #progressbar .active {
            color: #673AB7
        }

        #progressbar li {
            list-style-type: none;
            font-size: 15px;
            width: 25%;
            float: left;
            position: relative;
            font-weight: 400
        }

        #progressbar #account:before {
            font-family: FontAwesome;
            content: "\f13e"
        }

        #progressbar #personal:before {
            font-family: FontAwesome;
            content: "\f007"
        }

        #progressbar #payment:before {
            font-family: FontAwesome;
            content: "\f030"
        }

        #progressbar #confirm:before {
            font-family: FontAwesome;
            content: "\f00c"
        }

        #progressbar li:before {
            width: 50px;
            height: 50px;
            line-height: 45px;
            display: block;
            font-size: 20px;
            color: #ffffff;
            background: lightgray;
            border-radius: 50%;
            margin: 0 auto 10px auto;
            padding: 2px
        }

        #progressbar li:after {
            content: '';
            width: 100%;
            height: 2px;
            background: lightgray;
            position: absolute;
            left: 0;
            top: 25px;
            z-index: -1
        }

        #progressbar li.active:before,
        #progressbar li.active:after {
            background: #673AB7
        }

    .progress {
        height: 20px
    }

    .progress-bar {
        background-color: #673AB7
    }

    .fit-image {
        width: 100%;
        object-fit: cover
    }
</style>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Details</h2>
                        <h4>Delivery Acta</h4>
                    </div>
                    <div class="col-md-6">
                        <dl class="dl-horizontal">
                            <dt>
                                <Strong>
                                    @Html.DisplayNameFor(model => model.Estudents.FullName)
                                </Strong>

                            </dt>
                            <dd>
                                <h2>
                                    @Html.DisplayFor(model => model.Estudents.FullName)
                                </h2>

                            </dd>
                            <dt>
                                @Html.DisplayNameFor(model => model.Periodos.MonthDelivery)
                            </dt>
                            <dd>
                                @Html.DisplayFor(model => model.Periodos.MonthDelivery)
                            </dd>
                        </dl>
                    </div>
                </div>

            </div>
            <div class="panel-body">
                @if (Model.DetailsDeliveries.Count == 0)
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h2 id="heading">Delivery Progress</h2>
                                                    <div class="box-tools pull-right">

                                                    </div>
                                                </div>
                                                <div class="modal-body">

                                                 
                                                      

                                                            <form id="msform">
                                                                <!-- progressbar -->
                                                                <ul id="progressbar">
                                                                    <li class="active" id="account"><strong>Acudiente</strong></li>
                                                                    <li id="personal"><strong>Personal</strong></li>
                                                                    <li id="payment"><strong>Image</strong></li>
                                                                    <li id="confirm"><strong>Finish</strong></li>
                                                                </ul>
                                                                <div class="progress">
                                                                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                                                                </div> <br> <!-- fieldsets -->
                                                                <fieldset>
                                                                    <div class="form-card">
                                                                        <div class="row">
                                                                            <div class="col-7">
                                                                                <h2 class="fs-title">Acudiente Information:</h2>
                                                                            </div>
                                                                            <div class="col-5">
                                                                                <h2 class="steps">Step 1 - 4</h2>
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-control">

                                                                        </div>
                                                                        <div class="form-group">
                                                                           
                                                                        </div>

                                                                    </div> <input type="button" name="next" class="next action-button" value="Next" />
                                                                </fieldset>
                                                                <fieldset>
                                                                    <div class="form-card">
                                                                        <div class="row">
                                                                            <div class="col-7">
                                                                                <h2 class="fs-title">Personal Information:</h2>
                                                                            </div>
                                                                            <div class="col-5">
                                                                                <h2 class="steps">Step 2 - 4</h2>
                                                                            </div>
                                                                        </div> <label class="fieldlabels">First Name: *</label> <input type="text" name="fname" placeholder="First Name" /> <label class="fieldlabels">Last Name: *</label> <input type="text" name="lname" placeholder="Last Name" /> <label class="fieldlabels">Contact No.: *</label> <input type="text" name="phno" placeholder="Contact No." /> <label class="fieldlabels">Alternate Contact No.: *</label> <input type="text" name="phno_2" placeholder="Alternate Contact No." />
                                                                    </div> <input type="button" name="next" class="next action-button" value="Next" /> <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                                                </fieldset>
                                                                <fieldset>
                                                                    <div class="form-card">
                                                                        <div class="row">
                                                                            <div class="col-7">
                                                                                <h2 class="fs-title">Image Upload:</h2>
                                                                            </div>
                                                                            <div class="col-5">
                                                                                <h2 class="steps">Step 3 - 4</h2>
                                                                            </div>
                                                                        </div> <label class="fieldlabels">Upload Your Photo:</label> <input type="file" name="pic" accept="image/*"> <label class="fieldlabels">Upload Signature Photo:</label> <input type="file" name="pic" accept="image/*">
                                                                    </div> <input type="button" name="next" class="next action-button" value="Submit" /> <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                                                                </fieldset>
                                                                <fieldset>
                                                                    <div class="form-card">
                                                                        <div class="row">
                                                                            <div class="col-7">
                                                                                <h2 class="fs-title">Finish:</h2>
                                                                            </div>
                                                                            <div class="col-5">
                                                                                <h2 class="steps">Step 4 - 4</h2>
                                                                            </div>
                                                                        </div> <br><br>
                                                                        <h2 class="purple-text text-center"><strong>SUCCESS !</strong></h2> <br>
                                                                        <div class="row justify-content-center">
                                                                            <div class="col-3"> <img src="https://i.imgur.com/GwStPmg.png" class="fit-image"> </div>
                                                                        </div> <br><br>
                                                                        <div class="row justify-content-center">
                                                                            <div class="col-7 text-center">
                                                                                <h5 class="purple-text text-center">You Have Successfully Signed Up</h5>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </fieldset>
                                                            </form>
                                                      
                                           

                                                </div>
                                                <div class="modal-footer">
                                                    <a asp-action="AddDeliveryActa" class="btn btn-primary" asp-route-id="@Model.Id">Add Detalles</a>

                                                </div>
                                            </div>
                                            <!-- /.modal-content -->
                                        </div>
                                    </div>
                                   

                                </div>
                            </div>





                        </div>
                    </div>

                }
                else
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    hola
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-responsive table-striped display">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.DetailsDeliveries.FirstOrDefault().DocAcudiente)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.DetailsDeliveries.FirstOrDefault().FullNameAcudiente)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.DetailsDeliveries.FirstOrDefault().SiteDelivery)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => model.DetailsDeliveries.FirstOrDefault().TelMovil)
                                                    </th>
                                                    <th>
                                                        Img1
                                                    </th>
                                                    <th>
                                                        Acciones
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.DetailsDeliveries)
                                                {
                                                    <tr>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.DocAcudiente)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.FullNameAcudiente)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.SiteDelivery)
                                                        </td>

                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.TelMovil)
                                                        </td>

                                                        <td>
                                                            @if (!string.IsNullOrEmpty(item.ImageUrl))
                                                            {
                                                                <div class="thumbnail">
                                                                    <img src="@Url.Content(item.ImageUrl)" alt="Image" style="width:150px;height:150px;" />
                                                                </div>
                                                            }
                                                        </td>
                                                        <td>
                                                            <a asp-action="EditEndowment" class="btn btn-warning" asp-route-id="@item.Id"><i class="glyphicon glyphicon-pencil"></i></a>
                                                            <a asp-action="AddDetailsActa" class="btn btn-info" asp-route-id="@item.Id"><i class="glyphicon glyphicon-list"></i></a>

                                                            <button data-id="@item.Id" class="btn btn-danger deleteEndowment" data-toggle="modal" data-target="#deleteDialog"><i class="glyphicon glyphicon-trash"></i></button>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                }

            </div>
            <div class="panel-footer">
                <div class="form-group">
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.Id"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a asp-action="AddDelivery" class="btn btn-primary" asp-route-id="@Model.Id"><i class="glyphicon glyphicon-plus"></i> Add Delivery Acta</a>
                    <a asp-action="Details" asp-route-id="@Model.Estudents.Id" class="btn btn-success">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            var current_fs, next_fs, previous_fs; //fieldsets
            var opacity;
            var current = 1;
            var steps = $("fieldset").length;

            setProgressBar(current);

            $(".next").click(function () {

                current_fs = $(this).parent();
                next_fs = $(this).parent().next();

                //Add Class Active
                $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

                //show the next fieldset
                next_fs.show();
                //hide the current fieldset with style
                current_fs.animate({ opacity: 0 }, {
                    step: function (now) {
                        // for making fielset appear animation
                        opacity = 1 - now;

                        current_fs.css({
                            'display': 'none',
                            'position': 'relative'
                        });
                        next_fs.css({ 'opacity': opacity });
                    },
                    duration: 500
                });
                setProgressBar(++current);
            });

            $(".previous").click(function () {

                current_fs = $(this).parent();
                previous_fs = $(this).parent().prev();

                //Remove class active
                $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

                //show the previous fieldset
                previous_fs.show();

                //hide the current fieldset with style
                current_fs.animate({ opacity: 0 }, {
                    step: function (now) {
                        // for making fielset appear animation
                        opacity = 1 - now;

                        current_fs.css({
                            'display': 'none',
                            'position': 'relative'
                        });
                        previous_fs.css({ 'opacity': opacity });
                    },
                    duration: 500
                });
                setProgressBar(--current);
            });

            function setProgressBar(curStep) {
                var percent = parseFloat(100 / steps) * curStep;
                percent = percent.toFixed();
                $(".progress-bar")
                    .css("width", percent + "%")
            }

            $(".submit").click(function () {
                return false;
            })

        });
    </script>

    }