@model Pae.web.Data.Entities.Estudents

@{
    ViewData["Title"] = "Search Doc";
}


    <hr />
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2> @Html.DisplayNameFor(model => model.FullName):</h2>  @Html.DisplayFor(model => model.FullName)
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">

                   
                </div>
                <div class="panel-body">
                    
                        @Html.DisplayFor(model => model.Id)
                        @Html.DisplayNameFor(model => model.Document):
                        @Html.DisplayFor(model => model.Document)
                       
                      
                   

                </div>
                <div class="panel-footer">
                    <a asp-action="AddDeliveryActa" class="btn btn-primary" asp-route-id="@Model.Id">Editar</a>
                    <a asp-action="AddDeliveryActa" class="btn btn-info" asp-route-id="@Model.Id">Add Acta Delivery</a>
                    <a asp-action="AddDeliveryActa" class="btn btn-danger" asp-route-id="@Model.Id">Eliminar</a>

                </div>
            </div>
        </div>
    </div>

